body{
  background-color:rgb(247, 247, 179);
}

.grid-container {
  
  width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

 .grid-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
 
}
/*
.grid-column {
  display: flex;
  justify-content: center;
  align-items: center;

}*/

.grid-cell {
  width: 50px ;
  height: 50px ;
  border: 2px dotted #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
   background-color:black; 
  display: relative;
  position: relative; 
} 

.grid-cell.active {
  background-color: white;
}

.grid-cell.start {
  background-color: green;
}

.grid-cell.end {
  background-color: red;
}

.draggable {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  display: flex;
  
  font-size: 15px;
  align-items: center; 
  justify-content: center; 
  z-index: 2;
  cursor: grab;
  background-color: transparent;
  font-weight: bold;
  color: #000;
}



.grid-cell:hover .draggable {
  display: block;
}
